<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Headlines and TradingView Chart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="column left">
      <h2>Headlines</h2>
      <ul>
        <li>Headline 1</li>
        <li>Headline 2</li>
        <li>Headline 3</li>
      </ul>
    </div>
    <div class="column right">
      <h2>Gallery</h2>
      <div class="navigation" id="topnav">
        <select id="interval">
          <option value="hour">Hour</option>
          <option value="day" selected>Day</option>
          <option value="week">Week</option>
        </select>
        <select id="indicator">
          <option value="ema">EMA</option>
          <option value="rsi" selected>RSI</option>
        </select>
      </div>
      <div class="gallery-container">
      </div>
      <div class="arrow-container">
        <button class="prev-btn">&#10094;</button>
        <button class="next-btn">&#10095;</button>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/lightweight-charts@latest/dist/lightweight-charts.standalone.production.js"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
